.bg-blue {
  background-color: #0b436b;
}

.white {
  color: white;
}
.main-font {
  font-family: 'Kanit', sans-serif;
}

.fs-7 {
  font-size: medium;
  letter-spacing: 1px;
}

.navbar-nav li a {
  color: white;
}

.navbar-nav li a:hover {
  color: #6688A1;
}

.navbar-nav .nav-link.active {
  color: gray;
}

.nav-bar-logo {
  height: 50px;
  width: 170px;
}

.navbar-dark.navbar-toggler {
  border-color: transparent !important;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.content {
  height: 1700px;
}

.main-content-logo {
  height: 55px;
  width: 210px;
}

.img-header {
  background-color: white;
  background-image: url('/assets/main-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 10%;
  min-height: 500px;
}

.bg-map {
  background-color: white;
  background-image: url('/assets/map-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 10%;
  min-height: 500px;
}

.bg-content3 {
  background-color: white;
  background-image: url('/assets/bg-content3.jpg');
  background-repeat: no-repeat;
  background-size: 700px 1000px;
  background-position: top;
  /* max-width: 400px; */
}

.bg-content4 {
  background-color: white;
  background-image: url('/assets/bg-content4.png');
  background-repeat: no-repeat;
  background-size: 700px 1000px;
  background-position: top;
  /* max-width: 400px; */
}
.bg-content4 {
  background-color: white;
  background-image: url('/assets/bg-content4.png');
  background-repeat: no-repeat;
  background-size: 700px 1000px;
  background-position: top;
  /* max-width: 400px; */
}

.project-image1 {
  background-color: white;
  background-image: url('/assets/project-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.project-image2 {
  background-color: white;
  background-image: url('/assets/project-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.project-image3 {
  background-color: white;
  background-image: url('/assets/project-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.project-banner-right {
  color: white;
  background-color: #0C426ACC;
  opacity: 80%;
  padding: 2px;
  padding-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-banner-left {
  color: white;
  background-color: #85764FCC;
  opacity: 80%;
  padding: 2px;
  padding-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content {
  width: 60%;
  margin: auto;
}

.container-fluid {
  padding-right: 0;
  /*15px in bootstrap.css*/
  padding-left: 0;
  /*idem*/
  margin-right: 0px;
  margin-left: 0px;
}

.space {
  height: 360px;
}

.location-icon {
  width: 65px;
  height: 65px;
  padding: 0;
}

.customize-text {
  font-size: 50px;
  font-weight: 600;
}
.customize-button {
  width: 150px;
}

@media screen and (max-width: 577px) {
  .space {
    height: 155px;
  }
  .bg-content3 {
    background-color: white;
    background-image: url('/assets/bg-content.png');
    background-repeat: no-repeat;
    background-size: 100% 700px; 
    background-position: 0% 0%;
    /* max-width: 400px; */
  }
  .bg-content4 {
    background-color: white;
    background-image: url('/assets/bg-content4.png');
    background-repeat: no-repeat;
    background-size: 100% 700px; 
    background-position: -100px -10px;
    height: 500px;
    /* max-width: 400px; */
  }
  .bg-content5 {
    background-color: white;
    background-image: url('/assets/bg-content5.png');
    background-repeat: no-repeat;
    background-size: 100% 700px; 
    background-position: 0 10px; 
    height: 550px;
    /* max-width: 400px; */
  }

  .project-image1 {
    background-color: white;
    background-image: url('/assets/project-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .project-image2 {
    background-color: white;
    background-image: url('/assets/project-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .project-image3 {
    background-color: white;
    background-image: url('/assets/project-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .fs-7 {
    font-size: small;
    letter-spacing: 1px;
  }
  .nav-bar-logo {
    height: 30px;
    width: 100px;
  }
  .navbar-dark.navbar-toggler span {
    font-size: medium;
  }
  .container-80 {
    width:80%;
  }
  .location-icon {
    width: 35px;
    height: 35px;
    padding: 0;
  }
  .main-content-logo {
    height: 45px;
    width: 160px;
  }
  .customize-text {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
  }
}


.space-bottom {
  height: 100px;
}

.facility-text {
  font-size: 35px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}



.clip-img-left {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
}

.clip-img-right {
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
}
hr {
  opacity: 100;
}

hr.bottom {
  border-top: 2px solid #c2b7a3; 
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #c2b7a3 !important;
  border: none;
}