.link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }
a, u {
  text-decoration: none !important;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.card-detail {
  border: 1px solid rgb(237, 237, 237);
  background-color: white;
  height: 100%;
}
.card {
  border-radius: 0%;
  border: 1px solid rgb(237, 237, 237);
}

.bg-blue {
  background-color: white;
  border-top: 1px solid rgb(237, 237, 237);
}

.bg-white {
  background-color: white;
  opacity: 100%;
}

.container-60 {
  width:100%;
}

.bg-card1 {
  background-color: white;
  background-image: url('/assets-project/main.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 500px;
}

.bg-card1-2 {
  background-color: white;
  background-image: url('/assets-project-2/header.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 500px;
}
.bg-card1-3 {
  background-color: white;
  background-image: url('/cutomize-gal/project-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 500px;
}

.bg-card1-detail {
  min-width: 200px;
}

.white {
  color: white;
}
.blue {
  color: #0b436b;
}
.main-font {
  font-family: 'Kanit', sans-serif;
}

.fs-7 {
  font-size: medium;
  letter-spacing: 1px;
}
.foot-font {
  font-size:20px; 
  letter-spacing: 2px; 
  font-weight: 200;
}

.navbar-nav li a {
  color: #0b436b;
  font-weight: 500;
}

.navbar-nav li a:hover {
  color: #6688A1;
}

.navbar-nav .nav-link.active {
  color: gray;
}

.fixed-top {
  position: static;
 }

 .navbar {
  background-color: white;
 }

.nav-bar-logo {
  height: 40px;
  width: 180px;
  margin-top: 3px !important;
}

.navbar-dark.navbar-toggler {
  border-color: transparent !important;
}

.navbar-togler {
  color: blue;
  background-color: #0b436b;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.content {
  height: 1700px;
}

.text-intro {
  width:80%;
}

.main-content-logo {
  height: 90px;
  width: 340px;
}

.bg-map {
  background-color: white;
  background-image: url('/assets/map-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 10%;
  min-height: 500px;
}

.bg-content3 {
  background-color: white;
  background-image: url('/assets/bg-content.png');
  background-repeat: no-repeat;
  background-size: 1400px 2500px;
  background-position: top;
  background-position-y: 0px;
  /* max-width: 400px; */
}

#map {
  height: 100%;
}

.bg-facility {
  background-color: white;
}

.bg-content4 {
  background-color: white;
  background-image: url('/assets/bg-content.png');
  background-repeat: no-repeat;
  background-size: 1400px 2500px;
  background-position: top;
  background-position-y: -300px;
}
.bg-content5 {
  background-color: white;
  background-image: url('/assets/bg-content4.png');
  background-repeat: no-repeat;
  background-size: 1400px 2500px;
  background-position: top;
  background-position-y: -300px;
  /* max-width: 400px; */
}
.social-logo {
  width: 62px;
  height: 39px;
  margin-left: 10px;
  margin-top: 0px;
}

.project-image1 {
  height: 300px;
  background-image: url('/assets/project-1.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.project-image2 {
  height: 300px;
  background-image: url('/assets/project-2.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.project-image3 {
  height: 300px;
  background-image: url('/assets/project-3.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.project-banner-right {
  color: white;
  background-color: #0C426ACC;
  opacity: 80%;
  padding: 2px;
  padding-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-banner-left {
  color: white;
  background-color: #85764FCC;
  opacity: 80%;
  padding: 2px;
  padding-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content {
  width: 60%;
  margin: auto;
}

.container-fluid {
  padding-right: 0;
  /*15px in bootstrap.css*/
  padding-left: 0;
  /*idem*/
  margin-right: 0px;
  margin-left: 0px;
}

.space {
  height: 270px;
}

.location-icon {
  width: 65px;
  height: 65px;
  padding: 0;
}

.customize-text {
  font-size: 50px;
  font-weight: 600;
}
.customize-button {
  width: 150px;
}

.show-mobile {
  display: none;
}
.hide-mobile {
  display: block;
}

.compose-image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .project-image1 {
    height: 100px;
  }
  .project-image2 {
    height: 100px;
  }
  .project-image3 {
    height: 100px;
  }
}

@media screen and (max-width: 991px) {
  .project-image1 {
    height: 120px;
  }
  .project-image2 {
    height: 120px;
  }
  .project-image3 {
    height: 120px;
  }

  .text-intro {
    width: 100%;
    border:none;
  }
  .remove-border {
    border: none !important;
  }
  .logo-footer {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .project-image1 {
    height: 150px;
  }
  .project-image2 {
    height: 150px;
  }
  .project-image3 {
    height: 150px;
  }
}

@media screen and (min-width: 1399px) {
  .container-60 {
    width: 60%;
  }
  
}



.space-bottom {
  height: 100px;
}

.facility-text {
  font-size: 35px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}


.img-chain {
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden;
}

.img-chain-wrapper-1 {
  position:absolute;
  top: 0px;
  left: 0px;
  height: 488.64px;
  width: 770px;
}
.img-chain-wrapper-2 {
  height: 470.31px;
  width: 800px;
  position:absolute;
  top: 0px;
  left: 770px;
}
.img-chain-wrapper-3 {
  height: 470.31px;
  width: 800px;
  position:absolute;
  top: 0px;
  left: 1518px;
}

.clip-img-left {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  max-width: 100%;
  max-height: 100%;
}

.clip-img-right {
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  max-width: 100%;
  max-height: 100%;
}

hr {
  opacity: 100;
}

hr.bottom {
  border-top: 2px solid #c2b7a3; 
}

hr {
  border-top: 1px solid #c2b7a3 !important; 
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #c2b7a3 !important;
  border: none;
}